.collapsed .open {
  display: inline-block;
}
.open {
  display: none;
}
.collapsed .close {
  display: none;
}
.close {
  display: inline-block;
}

nav.actived {
  background-color: $success;
  color: #fff;
}

.content {
  width: calc(100% - 296px);
  margin-left: auto;
}
